 
body { 
  font-family: Arial, sans-serif; 
  margin: 0; 
  background-color: #f4f4f9; 
} 
 
header { 
  background-color: #8b93b5; 
  color: white; 
  text-align: center; 
  padding: 20px 0; 
} 
 
nav { 
  background-color: #4a656b; 
  text-align: center; 
  padding: 10px 0; 
} 
 
nav a { 
  color: white; 
  margin: 0 15px; 
  text-decoration: none; 
  font-weight: bold; 
} 
 
nav a:hover { 
  text-decoration: underline; 
} 
 
section { 
  padding: 20px; 
  margin: 20px; 
  background: #8b93b5; 
  border-radius: 8px; 
  box-shadow: 15px 50px 50px rgba(255, 255, 255, 255); 
}
h3 { 
  color: #ffffff; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
} 
 
footer { 
  text-align: center; 
  background-color: #4a656b; 
  color: white; 
  padding: 10px 0; 
} 
 
#Vision{ 
  color: white; 
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
} 
 
#Mission{ 
  color: white; 
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
} 
 
#PSOs{ 
   color: white; 
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
} 
 
#Courses{ 
   color: white; 
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
} 
 
#Top{ 
   color: white; 
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}